@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.cardContainerTwoOverflow {
	overflow: auto;
	height: 90vh;
}

.cardContainerTwoOverflow::-webkit-scrollbar {
	width: 5px;
}

.cardContainerTwoOverflow::-webkit-scrollbar-track {
  background: rgb(243, 243, 243);   
	border-radius: 20px;       
}
.cardContainerTwoOverflow::-webkit-scrollbar-thumb {
  background-color: rgb(207, 207, 207); 
  border-radius: 20px;     
}

.containerHome {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
	height: 90vh;


	.homeOneInput {
		margin-left: 5px;

		.welcomeText {
			font-size: 20px;
			font-family: 'Noto Sans', sans-serif;
			color: #6658d3;
		}
	}

	.cardsContainer {
		width: 100%;
		background-color: rgba(255, 0, 0, 0);
		height: 35vh;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		align-items: center;
		
		

		.cardApplication {
			width: 97%;
			border-radius: 10px;
			position: relative;
			z-index: 0;

			.textsItemCard {
				width: 100%;
				flex-direction: column;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 2;
				position: absolute;

				.itemNamed {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					height: 35px;
					width: 70%;
					background: #000000d4;
					border-radius: 0 0 10px 10px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(50.9px);
					-webkit-backdrop-filter: blur(50.9px);
					border: 1px solid rgba(255, 255, 255, 0.57);
				}

				
			}

			.groupPriceAndActiv {
				z-index: 2;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;

				.itemPrice {
					margin-top: 230px;
					margin-left: 20px;
					font-size: 18px;

					.namedTextPrice {
						font-weight: bold;
						color: white;
					}

					.namedMeaning {
						color: white;
					}

					.namedTextPriceT {
						font-weight: bold;
						color: white;
						margin-left: 60px;
					}

					.namedMeaningT {
						color: white;
						margin-left: 60px;
					}
				}
			}
		

			.divTexts {
				z-index: 2;
				position: absolute;
			}

			.namecArdApplication {
				color: #ffffff;
				font-family: 'Noto Sans', sans-serif;
				font-size: 17px;
			}

			.pricecArdApplication {
				color: #ffffff;
				font-family: 'Noto Sans', sans-serif;
				font-size: 23px;
			}
			
		}

		.cardImg {
			width: 100%;
			border-radius: 10px;
			filter: brightness(50%);
			position: absolute;
			z-index: 1;
			height: 300px;
		}
	}
}

.rub {
	font-family: arial;
	vertical-align: middle;
	border-bottom: 0.07em solid;
	line-height: 0.2em;
	display: inline-block;
	width: 0.5em;
}