@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Roboto:wght@100&family=Rubik:wght@500&display=swap');

.containerHome {
  width: 378px;
  height: 690px;
  background-color: rgba(24, 34, 86, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balansText {
  color: rgba(76, 76, 76, 0.804);
  font-family: 'Rethink Sans', sans-serif;
  font-size: 15px;
  margin-top: 80px;
}

.balansRubl {
  color: rgba(255, 255, 255, 0.804);
  font-family: 'Rethink Sans', sans-serif;
  font-weight: bold;
  font-size: 33px;
  margin-top: 10px;
}

.btnClassDiv {
  width: 40%;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .jobBtn {
    background-color: #ffffff00;
    color: white;
    border: none;
    cursor: pointer;

    .buttonDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .btnElipsOne {
        width: 30px;
        height: 30px;
        background-color: #0088CC;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .imgButtonStyle {
          width: 17px;
          height: 17px;
        }
      }
      
      .buttonText {
        color: #0088CC;
        font-size: 17px;
        font-weight: bold;
        margin-top: 5px;
      }
    }
  }

  .statusBtn {

  }
}

